enter new movie information: <br/>
<%= form_with(model: @movie, local: true)do |f| -%>
Title: <%= f.text_field :title %> <br />
Year: <%= f.text_field :year %> <br />

<%= f.submit %>

<% end-%>
<hr />
List of all movies: <br />
<% if !@movies.blank? %>
<table border=1>
  <tr>
      <th> Title </th>
      <th> Year </th>
    </tr>
    <% for item in @movies %>
  </tr>
   <td>  <% item.title %> </td>
     <td> <% item.year %> </td>
    <tr>
      <% end %> 
       <td> <%= link_to item.title , :controller => :awards, :action => :new, :id => item.id %></td>
        <td> <%= stu %> </td>
        
      </table>
      <% else %>
      no students yet
    
